---
// This is where you can place Javascript in an Astro component.
console.log('example - this is an astro component and is rendered server-side')
---

<!-- And this is where you can place HTML in an Astro component. -->
<h1>Example</h1>

<!-- This is how you can style Astro components -->
<style>
    h1 {
        color: orange;
    }
</style>